body,html{margin: 0; padding: 0}
body{
	background-color: #e7e7e7;
	background-attachment: fixed;
	 background-size: 100% 100%;
	 background-position: center;
	 font-family: Open Sans semi-bold;
}

.text{
	 width: 50%; margin: 0 auto; margin-top: 15px !important;
}
.head1{
	text-align: center; font-weight: bold; font-size: 18px; margin-top: 15px; 
}
.heading{
	margin-top: 15px; font-size: 18px; font-weight: bold;
}
.logo{
	text-align: center;
}
.md-form label{
	color: rgb(188,188,188); 
}
.md-form label.active{
	color:rgb(188,188,188) !important;
}
.md-form input[type=text]{
	border-bottom: 1px solid rgb(188,188,188) !important;
}
.md-form label.active{
	color: rgb(44,52,69) !important;
}
.reg{
	text-align: center; margin-top: 15px; 
}

.body{
	width: 758px; margin: 0 auto;
}
.chkbk{
	margin-top: 15px;
}
.waves-effect.btn{
	font-size: 12px ! important; padding: 10px 80px 10px 80px ! important;
}
.waves-light{
	background-color: #2a3746; color: #e7e7e7 ! important;
}
.waves-effect{
	border-radius: 10px ! important; text-transform: none ! important;
}
.tc{
	margin-top: 15px;
}
